
*{
  font-family: var(--font-font);
  font-size: 0.89rem;
}
._card{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  padding: 1rem;
  border-radius: 2rem;
  background-color: #FFFFFF;
}
.input{border: 0.5rem solid #FFFFFF;transition: 0.2s ease-in;}
.input:focus{
  border-left: 0.5rem solid #a283f7 !important;
}

.no-padding{
  padding: 0 !important;
}

._content{
  padding: 100px 5% 2rem 5%;
}

._side{
  position: fixed;
  top: 100px;
  left: 1rem;
  padding: 1rem;
  width: 200px;
  background-color: #FFFFFF;
  border-radius: 2rem;
  z-index: 5;
}

._dashboard_content{
  position: absolute;
  top: 100px;
  right: 0;
  width: calc(100% - 216px);
  padding: 0 1rem;
}

